<header>
    <input type="checkbox" id="nav-toggle">
    <label id="nav-toggle-label" for="nav-toggle">
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="cross">
            <span></span>
            <span></span>
        </div>
    </label>
    <nav role="navigation" id="main-nav">
        <div class="nav-container">
            <div class="nav-wrapper">
                <a class="logo" href="/">hblog</a>
            </div>
        </div>
    </nav>
</header>
