<header>
    <input type="checkbox" id="nav-toggle">
    <label id="nav-toggle-label" for="nav-toggle">
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="cross">
            <span></span>
            <span></span>
        </div>
    </label>
    <nav role="navigation" id="main-nav">
       <div class="nav-container">
            <div class="nav-wrapper">
                <a class="logo" href="/">hblog</a>
                {{ page.url }}
                <ul>
                    {% for link in page.nav-links %}
                    <li>
                        {% assign url = link | prepend: '/' %}
                        {% if page.url == url %}
                        <a href={{ url }} class="active">{{ link }}</a>
                        {% else %}
                        <a href={{ url }}>{{ link }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>
