$header-height: 50px;
$nav-color: #1eaefb;
$nav-selected-color: #ffcf91;
$nav-animation-duration: 280ms;

header {
    #nav-toggle {
        opacity: 0;
    }

    #nav-toggle-label {
        position: fixed;
        top: 0; right: 0;
        width: 50px;
        height: 50px;
        z-index: 999;
        cursor: pointer;

        .hamburger {
            position: absolute;
            left: 0; top: -8%;
            width: 30px;
            height: 30px;
            margin: 10px;
            opacity: 1;
            transform: rotate(0deg);
            transition: all $nav-animation-duration/2 ease-in-out;

            span {
                display: block;
                position: relative;
                width: 100%;
                height: 2px;
                background: $nav-color;
                margin: 10px 0;
            }
        }

        .cross {
            position: absolute;
            left: 0; top: 0;
            width: 30px;
            height: 30px;
            margin: 10px;
            cursor: pointer;
            transform: rotate(45deg);
            opacity: 0;
            transition: all $nav-animation-duration/2 ease-in-out;
            span {
                position: absolute;
                background: $nav-color;
                &:nth-child(1) {
                    top: 0; left: 50%;
                    width: 2px;
                    height: 100%;
                    transform: translate(-50%, 0);
                }
                &:nth-child(2) {
                    top: 50%; left: 0;
                    width: 100%;
                    height: 2px;
                    transform: translate(0, -50%);
                }
            }
        } 
    }

    nav { 
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 0;
        font-family: 'Slabo 27px', serif;

        .nav-container {
            position: relative;
            width: 100%;
            height: 0;

            .nav-wrapper {
                position: fixed;
                top: -$header-height; left: 0;
                width: 100%;
                height: $header-height;
                padding: 0 10px;
                background: rgba(6, 26, 38, 0.8);
                line-height: $header-height;
                transition: top $nav-animation-duration ease-in-out;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    position: relative;
                    display: block;
                    padding: 0 10px;
                    color: $nav-color;
                    font-size: 18px;
                    &.active:before {
                        position: absolute;
                        left: 0; bottom: 0;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: $nav-color;
                    }
                    &:hover { color: $nav-selected-color; }
                    &:hover:before { background: $nav-selected-color; }
                }

                ul {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    min-width: 70%;
                    li { 
                        display: inline-block;
                        list-style: none; 
                        padding: 0 10px;
                    }
                }

                .logo {
                    position: absolute;
                    left: 1%;
                    font-size: 25px;
                    &:hover {
                        animation: shake-logo 200ms ease-in-out 0s 2 alternate;
                    }
                }

                @keyframes shake-logo {
                    0% { transform: rotate(0deg); }
                    33.3% { transform: rotate(10deg); }
                    66.6% { transform: rotate(0deg); }
                    100% { transform: rotate(-10deg); }
                }
            }
        }
    }

    #nav-toggle:checked ~ nav#main-nav {
        .nav-wrapper {
            top: 0;
            box-shadow: 0 1px 2px;
        }
    }

    #nav-toggle:checked ~ #nav-toggle-label {
        .hamburger { 
            opacity: 0; 
            transform: rotate(90deg);
        }
        .cross { 
            opacity: 1; 
            transition-delay: $nav-animation-duration/2;
        }
    }
}
